# Xcode build output
build/
DerivedData/
*.xcuserstate
xcuserdata/

# Build artifacts and archives
SunAndSky */
*.xcarchive
*.ipa
*.dSYM
ExportOptions.plist

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# CocoaPods
Pods/
